@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat|Khand&display=swap');

/* COLOR SCHEME */

:root {
    --mainColor: dimgray;
    --softMainColor: #e9e9e9;
    --softerMainColor: #d9d9d9;
    --tableBorders: darkgray;
    --accentColor: #a32929;
    --softAccentColor: rgb(255, 202, 128);
    --backgroundColor: #f3f3f3;
    --elementsOnAccentColor: white;
    --headerLogoGradient: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 150%);
    --mainFont: "Khand", sans-serif;
}

/* GENERAL STYLING */

.contentContainer {
    margin: 0 30px;
}

html {
    font-family: var(--mainFont);
}

body{
    background-color: var(--backgroundColor);
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
}

/*label {*/
    /*width: 150px !important;*/
    /*display: block;*/
/*}*/

/*input, select, form > div {*/
    /*margin-bottom: 10px;*/
    /*display: inline-block;*/
/*}*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.sectionHeader {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
    padding: 10px;
    font-weight: bold;
}

.inputArea{
    background-color: var(--softMainColor);
    padding: 10px 10px 0 10px;
    margin-bottom: 30px;
}

/* INPUT ELEMENTS */

.addNewElementButton {
    background-color: var(--softerMainColor);
    text-decoration: none;
    padding: 0 5px;
    color: var(--mainColor);
    margin-left: 7px;
    font-size: 13px;
    border-radius: 3px;
    position: relative;
    bottom: -1px;
}

.centerThis {
    /*width: 100% !important;*/
    /*height: 100%;*/
    /*text-align: center;*/
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.addNewElementButton:hover {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
}

.dropDownKlasse,
.neueKlasseInput {
    border: none;
    padding: 5px 17px;
    border-radius: 3px;
}

.styledButton{
    border: none;
    background-color: var(--softerMainColor);
    padding: 10px 17px;
    border-radius: 3px;
}

.styledButton:hover {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
    cursor: pointer;
}

.inputAreaElement {

}


/* HEADER LOGO*/

#logoContainer {
    background: var(--headerLogoGradient);
    color: var(--elementsOnAccentColor);
    text-align: center;
    padding: 75px 0 60px 0;
}

#logoContainer #headline {
    font-size: 60px;
    font-weight: 100;
    font-family: "Khand", sans-serif;
}

#logoContainer #headline span {
    border-bottom: 5px solid var(--accentColor);
}

#logoContainer #subHeadline {
    font-size: 25px;
    font-weight: 100;
    opacity: 0.7;
    margin-top: -15px;
    position: relative;
    left: 210px;
    font-family: 'Caveat', cursive;
}

#logoDots:before {
    content: ".";
    position: relative;
    top: -28px;
    left: 13px;
    margin-left: -5px;
    opacity: 0.5;
}

#logoDots:after {
    content: ".";
    position: relative;
    top: -28px;
    left: -8px;
    margin-left: -5px;
    opacity: 0.5;
}

/* HEADER MENU */

#headerContainer {
    margin-bottom: 30px;
}

#menuContainer {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
}

#menuContainer ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#menuContainer li {
    display: inline-block;
    position: relative;
}

#menuContainer a {
    padding: 10px 25px;
    display: inline-block;
    position: relative;
}

#menuContainer a:hover {
    cursor: pointer;
    background-color: #ffb133;
}

#menuContainer a:hover:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--elementsOnAccentColor);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

#menuContainer a {
    text-decoration: none;
    color: var(--elementsOnAccentColor);
}

/* DEVELOPMENT STYLES */

.takeDump {
    font-size: 75%;
    opacity: 0.5;
}

.nodeElement {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.nodeElement div {
    padding: 10px;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.nodeIndex {
    background-color: gray !important;
    color: white;
}

.prevNode {
    background-color: #e8e8e8 !important;
}

.counter {
    clear: left;
    width: 110px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
}

/* TABLE STYLING */

table {
    border-collapse: collapse;
    width: 100%;
    font-family: var(--mainFont);
    text-align: left;
}

table thead {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
    font-weight: bold;
}

td, th {
    padding: 10px;
}

tr {
    border-bottom: 1px solid var(--tableBorders);
}

tr:nth-child(even) {
    background-color: var(--softerMainColor);
}

tr:nth-child(odd):not(.tableHead) {
    background-color: var(--softMainColor);
}

tr:not(.tableHead):hover {
    background-color: var(--softAccentColor);
    cursor: pointer;
}

th:hover {
    cursor: pointer;
}

/* INPUT FORM STYLES */


.form-style-7{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: "Khand", sans-serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: "Khand", sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: var(--accentColor);
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #a32929;
    border-radius: 3px;
    color: #fff;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #ffb133;
    border-bottom: 3px solid #ffb133;
    color:#fff;
}
