@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

/* COLOR SCHEME */

:root {
    --mainColor: dimgray;
    --softMainColor: #e9e9e9;
    --softerMainColor: #d9d9d9;
    --tableBorders: darkgray;
    --accentColor: orange;
    --softAccentColor: rgb(255, 202, 128);
    --backgroundColor: #f3f3f3;
    --elementsOnAccentColor: white;
    --headerLogoGradient: radial-gradient(circle, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 150%);

    --mainFont: "Open Sans", sans-serif;
}

/* GENERAL STYLING */

.contentContainer {
    margin: 0 30px;
}

body{
    background-color: var(--backgroundColor);
    font-family: var(--mainFont);
    margin: 0;
    padding: 0;
}

label {
    width: 150px !important;
    display: inline-block;
}

input, select, form > div {
    margin-bottom: 10px;
}

.sectionHeader {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
    padding: 10px;
    font-weight: bold;
}

.inputArea{
    background-color: var(--softMainColor);
    padding: 10px 10px 0 10px;
    margin-bottom: 30px;
}

/* INPUT ELEMENTS */

.addNewElementButton {
    background-color: var(--softerMainColor);
    text-decoration: none;
    padding: 0 5px;
    color: var(--mainColor);
    margin-left: 7px;
    font-size: 13px;
    border-radius: 3px;
    position: relative;
    bottom: -1px;
}

.addNewElementButton:hover {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
}

.dropDownKlasse,
.neueKlasseInput {
    border: none;
    padding: 5px 17px;
    border-radius: 3px;
}

.styledButton{
    border: none;
    background-color: var(--softerMainColor);
    padding: 10px 17px;
    border-radius: 3px;
}

.styledButton:hover {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
    cursor: pointer;
}

.inputAreaElement {

}


/* HEADER LOGO*/

#logoContainer {
    background: var(--headerLogoGradient);
    color: var(--elementsOnAccentColor);
    text-align: center;
    padding: 75px 0 60px 0;
}

#logoContainer #headline {
    font-size: 40px;
    font-weight: 100;
    font-family: "Orbitron";
}

#logoContainer #headline span {
    border-bottom: 5px solid var(--accentColor);
}

#logoContainer #subHeadline {
    font-size: 13px;
    font-weight: 100;
    opacity: 0.7;
    margin-top: -8px;
    position: relative;
    left: 95px;
    top: -7px;
    display: inline;
}

#logoDots:before {
    content: ".";
    position: relative;
    top: -28px;
    left: 13px;
    margin-left: -5px;
    opacity: 0.5;
}

#logoDots:after {
    content: ".";
    position: relative;
    top: -28px;
    left: -8px;
    margin-left: -5px;
    opacity: 0.5;
}

/* HEADER MENU */

#headerContainer {
    margin-bottom: 30px;
}

#menuContainer {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
}

#menuContainer ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#menuContainer li {
    display: inline-block;
    position: relative;
}

#menuContainer a {
    padding: 10px 25px;
    display: inline-block;
    position: relative;
}

#menuContainer a:hover {
    cursor: pointer;
    background-color: #ffb133;
}

#menuContainer a:hover:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--elementsOnAccentColor);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}

#menuContainer a {
    text-decoration: none;
    color: var(--elementsOnAccentColor);
}

.currentPage {
    font-weight: bold;
}

/* DEVELOPMENT STYLES */

.takeDump {
    font-size: 75%;
    opacity: 0.5;
}

.nodeElement {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.nodeElement div {
    padding: 10px;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.nodeIndex {
    background-color: gray !important;
    color: white;
}

.prevNode {
    background-color: #e8e8e8 !important;
}

.counter {
    clear: left;
    width: 110px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
}

/* TABLE STYLING */

table {
    border-collapse: collapse;
    width: 100%;
    font-family: var(--mainFont);
    text-align: left;
    margin-bottom: 30px;
}

table thead {
    background-color: var(--accentColor);
    color: var(--elementsOnAccentColor);
    font-weight: bold;
}

td, th {
    padding: 10px;
}

tr {
    border-bottom: 1px solid var(--tableBorders);
}

tr:nth-child(even) {
    background-color: var(--softerMainColor);
}

tr:nth-child(odd):not(.tableHead) {
    background-color: var(--softMainColor);
}

tr:not(.tableHead):hover {
    background-color: var(--softAccentColor);
    cursor: pointer;
}

th:hover {
    cursor: pointer;
}

.hiddenElement{
    display: none;
}

/* EDIT DIALOG */
.ui-dialog {
    width: auto !important;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 10000px;
    padding: 0 !important;
}

.ui-dialog .styledButton {
    display: inline;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.ui-widget-content,
.ui-widget.ui-widget-content {
    border: none !important;
}

.ui-widget-header {
    background: var(--accentColor) !important;
    color: var(--elementsOnAccentColor) !important;
    border: none !important;
}

.updateStudentForm {
    margin-block-end: 0 !important;
}

.ui-corner-all {
    border-radius: 5px !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.6em 1em !important;
    border-radius: 5px 5px 0 0 !important;
}

.ui-dialog .ui-dialog-titlebar-close{
    right: 0.6em !important;
}

.ui-button {
    border: none !important;
}

.updateButton{
    width: calc(75% - 10px);
    margin-right: 10px;
}

.deleteButton{
    width: calc(25% - 5px);
}

.deleteButton:hover{
    background-color: red !important;
}

/* LOGIN SCREEN */
.loginBox {
    width: 500px;
    height: 300px;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    text-align: center;
    overflow: hidden;
}

.loginButton {
    width: 100%;
    margin-bottom: 0 !important;
    height: 50px;
}

.loginInput {
    border: none;
    width: 100%;
    padding: 5px 17px;
    border-radius: 3px;
    height: 50px;
    background-color: #ffffff20;
    color: var(--elementsOnAccentColor);
    font-family: Montserrat, sans-serif;
}

.logo {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    margin: 0 auto 40px auto;
    border-radius: 10px;
    opacity: 0.33;
}

.loginForm {
    margin-block-end: 0 !important;
}

.loginContainer {
    background: #111111;
    height: 100%;
}

.loginContainer::before {
    content: "";
    background: url("images/blackboard.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.33;
    position: absolute;
    z-index: 0;
}

.logoLoginContainer{
    background: none !important;
    padding: 0 0 30px 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--elementsOnAccentColor);
    background-color: #ffffff20;
    transition: background-color 5000s ease-in-out 0s;
    color: var(--elementsOnAccentColor);
    font-family: Montserrat, sans-serif;
}

.usernameInput,
.passwordInput {
    padding-left: 80px;
}

input{
    font-family: Montserrat, sans-serif;
}

#usernameInputElement,
#passwordInputElement {
    width: 60px;
    padding: 7px 0 7px 22px;
    box-sizing: border-box;
    position: absolute;
}

#registerAccount{
    float:left;
    padding-top: 10px;
}

#resetPassword{
    float:right;
    padding-top: 10px;
}

.loginSublink{
    text-decoration: none;
    color: dimgray;
    font-size: 75%;
}

.loginSublink:hover{
    color: var(--accentColor);
}

#copyrightArea {
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: dimgray;
    font-size: 75%;
    font-family: Montserrat, sans-serif;
}