.nodeElement {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}

.nodeElement div {
    padding: 10px;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.nodeIndex {
    background-color: gray !important;
    color: white;
}

.prevNode {
    background-color: #e8e8e8 !important;
}

.counter {
    clear: left;
    width: 110px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
}